<% if ( pageID !== 'home' ) { %>
  <div class="svg-container map-svg svg-block">
    <% include ../template/svgslant.ejs %>
  </div>
<% } %>

<div class="container">
  <ul class="buzz-list">

    <% buzz.forEach( function( attendee ) { %>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="/img/people/<%= attendee.img %>">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name"><%= attendee.name %></span>
        <% if ( attendee.link !== '' ) { %>
          <a class="attendee-link" href="<%= attendee.link %>">
        <% } else { %>
          <span class="attendee-location">
        <% } %>
            <%= attendee.location %>
        <% if ( attendee.link !== '' ) { %>
          </a>
        <% } else { %>
          </span>
        <% } %>
      </p>
      <p class="attendee-comment"><%= attendee.comment %></p>
    </li>
    <% }); %>

  </ul>

  <% if ( pageID == 'home' ) { %>
    <h2 class="subscriber-list-title">Subscribe to the JNJ KOTESOL email list</h2>
    <form class="subscriber-list">
      <input class="subscriber-email form-control" type="email" placeholder="Your Email" />
      <input class="button subscriber-submit" type="submit" value="Get on the list!" />
    </form>
  <% } %>
</div>

<% if ( pageID !== 'home' ) { %>
  <div class="svg-container footer-svg svg-block">
    <% include ../template/svgslant.ejs %>
  </div>
<% } %>
