<div class="svg-container map-svg svg-block">
  <% include ../template/svgslant.ejs %>
</div>

<div class="container">
    <article>

    <div class="speaker-list">

        <div class="grid">

          <div class="grid-item grid-title">
            <div class="grid-inner"><a href="/speakers"><% if ( pageID !== 'schedule' ) { %>More <% } %>Speakers</a></div>
          </div>

        <% listSpeakers.forEach( function( speaker ) { %>
        <div class="grid-item photo">
            <div class="grid-inner">
                <figure  class="diamonds-item photo rhombus bg-primary">
                    <img class="speaker-img" src="/img/people/<%= speaker.img %>">
                </figure>

                <div class="speaker-meta-box">
                    <div class="speaker-meta">
                        <a href="/speakers/<%= speaker.shortname %>">
                            <p class="speaker-name"><%= speaker.name %></p>
                        </a>
                        <p class="speaker-affiliation"><%= speaker.affiliation %></p>
                        <p class="speaker-details"><%= speaker.other %></p>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    </div>
    </article>
</div>

<div class="svg-container footer-svg svg-block">
  <% include ../template/svgslant.ejs %>
</div>
