<div class="container">

  <h2 class="page-section-title">Organizing Team</h2>
    <!-- http://davist11.github.io/css-diamond-grid/# -->
  <div class="grid">

    <% team.forEach( function( member ) { %>
            <article class="speaker team-member">
    <div class="grid-item photo">
        <div class="grid-inner">
            <figure  class="diamonds-item photo rhombus bg-primary">
                <img class="speaker-img" src="/img/people/<%= member.img %>">
            </figure>
        </div>
    </div>

            <div class="speaker-info-section">

        <div class="speaker-meta">
            <p class="speaker-name"><%= member.name %></p>
            <p class="speaker-affiliation"><%= member.title %></p>
        </div>




            <div class="speaker-info">
                <h3 class="speaker-bio-title"><%= member.name %></h3>
                <p class="team-member-title"><%= member.title %></p>
                <p class="speaker-bio"><%- member.bio %></p>
            </div>
        </div><!-- .speaker-info-section -->
</article><!-- .team-member -->
    <% }); %>

  <!--     <a class="page-button button">Register today!</a> -->
</div>
